<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyRadioCalculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="maskable_icon_x192.png">
    <style>
    </style>
</head>

<body>
    <header class="navbar bg-light">
        <div class="container">
            <span class="navbar-brand">MyRadioCalculator</span>            
        </div>
    </header>
    <main class="container text-center" id="app">
        <section class="row g-3 justify-content-center">
            <label class="col-auto">
                <span>Частота (КГц)</span>
                <input type="number" max="1000000000000" min="0" class="form-control" v-model="f">
            </label>
            <label class="col-auto">
                <span>Длинна волны (м)</span>
                <input type="number" max="1000000000000" min="0" class="form-control" v-model="w">
            </label>
        </section>
        <section class="row g-3 justify-content-center">
            <label class="col-auto">
                <span>D (мм)</span>
                <input type="number" max="10000" min="0" class="form-control" v-model="D">
            </label>
            <label class="col-auto">
                <span>d (мм)</span>
                <input type="number" max="10000" min="0" class="form-control" v-model="d">
            </label>
        </section>
        <section class="row g-3 mt-2">
            <div>Параметры катушки</div>
            <div v-text="`N: ${N}`"></div>
            <div>Параметры контура </div>
            <div v-text="`L: ${L * 10 ** 6} (мкГн)`"></div>
            <div v-text="`C: ${C * 10 ** 12} (пФ)`"></div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/decimal.js-light@2/decimal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script>
        Decimal.config({ precision: 25 });
        const Pi = 3.141592653589793;
        const speedOfLlight = 299792000; // (m*h)
        const LCn = 100000;
        function findl(f, q, d, res) {
            const temp1 = new Decimal("9e5").times(res).times(d);
            const temp2 = new Decimal(Pi).times(Pi).times(f).times(q).times(d).times(d);
            const temp3 = new Decimal("2e6").times(res);
            return temp1.dividedBy(temp2.minus(temp3));
        };
        const vue = Vue.createApp({
            data: () => ({
                f: 1, w: 1, d: 1, D: 10,
            }),
            computed: {
                N(vm) {
                    const t1 = new Decimal(vm.D  / 10 ** 3).toPower(2).times(81);
                    const t2 = new Decimal(LCn).toPower(0.5).times(vm.d  / 10 ** 3).times("45e6");
                    const t3 = Pi * vm.f * vm.D / 10 ** 3;
                    return Math.round(t2.dividedBy(t3).plus(t1).toPower(0.5).minus(9 * vm.D / 10 ** 3));
                },
                L (vm) {
                    const t1 = new Decimal(vm.D / 10 ** 3).times(vm.N).toPower(2).times("1e-4");
                    const t2 = new Decimal(vm.D / 10 ** 3).times(45);
                    const t3 = new Decimal(vm.N).times(vm.d / 10 ** 3).times(100);
                    return t1.dividedBy(t2.plus(t3));
                },
                C: vm => vm.L.dividedBy(LCn),
            },
            watch: {
                f(val) { this.w = speedOfLlight / (val * 1000) },
                w(val) { this.f = Math.round( speedOfLlight / val) / 1000 },
            },
        }).mount("#app");;

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script>
        navigator.serviceWorker.register('sw.js', { scope: '/MyRadioCalculator/' });
    </script>
</body>

</html>